@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
body {
  font-family: Overpass, Verdana, Geneva, Tahoma, sans-serif
}

.error-card {
  font-size: 1.25rem;
  color: #D03C3C;
  background-color: #FBE4E4;
  border: 1px solid #D03C3C;
  padding: 0.5rem 1rem;
}

.error-card:empty {
  display: none;
}

.runner-data {
  display: grid;
  grid-template-columns: max-content 12rem;
  margin-top: 0.25rem;
  padding-top: 0.5rem;
  border-top: 1px solid #ccc;
}

.runner-input-row {
  display: contents;
}

.runner-input-row + .runner-input-row > *{
  margin-top: 0.5rem;
}
.runner-data label {
  margin-right: 0.5rem;
  text-align: right;
}